{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap" rel="stylesheet">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-3 col-md-4">
                <div>
                    <h1 class="wiki">Wiki!</h1>
                </div>
                <div>
                    <form action="/search/" method="POST">
                        {% csrf_token %}
                        <input class="search" type="text" name="q" placeholder="Search Encyclopedia">
                        <input type="submit" value="Search">
                    </form>
                </div>
                <div>
                    <a href="{% url 'index' %}">Home</a>
                </div>
                <div>
                    <a href="{% url 'add' %}">Add entry</a>
                </div>
                <div>
                    <a href="{% url 'random' %}">Go to random page</a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-19 col-md-8">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>